html {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(17,17,17);
background: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(34,34,34,1) 25%, rgba(48,48,48, 1) 50%, rgba(34,34,34,1) 75%, rgba(17,17,17,1) 100%);
}

