.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    height: 3.5em;
    padding: 1.5em 2.2em;
}

.header-container h1 a {
    color: #f00;
    text-decoration: none;
}

#marvel-logo {
    height: 2em;
}